<table>
  <thead>
    <tr>
      <th>Nom</th>
      @for (etape of etapes; track etape) {
        <th>{{etape}}</th>
      }
      <th>Total</th>
      <th>Niveau</th>
    </tr>
  </thead>
  <tbody>
    @for (competence of proxies; track competence) {
      <tr>
        <td>{{competence}}</td>
        @for (etape of etapes; track etape) {
          <td>
            <mat-form-field>
              <input matInput type="number" min="0" [(ngModel)]="competence[etape]"/>
            </mat-form-field>
          </td>
        }
        <td class="xp">
          {{competence.xp}}
        </td>
        <td class="lvl">
          {{competence.lvl}}
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      @for (etape of etapes; track etape) {
        <th>{{ sumField(proxies, etape) }}</th>
      }
      <th>{{ sumField(proxies, "xp") }}</th>
      <th>{{ sumField(proxies, "lvl") }}</th>
    </tr>
  </tfoot>
</table>
