<div class="row">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput type="text" [(ngModel)]="proxy.name"/>
  </mat-form-field>
  <b class="niveau">Niveau : {{proxy._sort?.niveau || 1}}</b>
</div>
<div class="row">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Technique</mat-label>
    <mat-select placeholder="Technique" [(ngModel)]="proxy.technique">
      @for (t of techniques; track t) {
        <mat-option [value]="t">{{t.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Forme</mat-label>
    <mat-select placeholder="Forme" [(ngModel)]="proxy.forme">
      @for (f of formes; track f) {
        <mat-option [value]="f">{{f.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <!-- <mat-select placeholder="Compléments" multiple [(ngModel)]="proxy.complements">
  <mat-option *ngFor="let a of arts" [value]="a">{{a.name}}</mat-option>
</mat-select> -->
</div>
<div class="row">
  <mat-form-field>
    <mat-label>Base</mat-label>
    <input matInput type="number" min="1" placeholder="Base" [(ngModel)]="proxy.base"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Forme</mat-label>
    <mat-select placeholder="Portée" [(ngModel)]="proxy.portee">
      @for (p of portees; track p) {
        <mat-option [value]="p">{{p.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Durée</mat-label>
    <mat-select placeholder="Durée" [(ngModel)]="proxy.duree">
      @for (d of durees; track d) {
        <mat-option [value]="d">{{d.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Cible</mat-label>
    <mat-select placeholder="Cible" [(ngModel)]="proxy.cible">
      @for (c of cibles; track c) {
        <mat-option [value]="c">{{c.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modificateur</mat-label>
    <input matInput type="number" min="0" placeholder="Modificateur" [(ngModel)]="proxy.modificateur"/>
  </mat-form-field>
</div>
<mat-form-field class="full-width">
  <textarea matInput placeholder="Description" [(ngModel)]="proxy.description" rows="3"></textarea>
</mat-form-field>

<h4>Niveau du sort : {{proxy._sort?.niveau || 1}}</h4>
