/* input[type="number"] {
  width: 70px;
  min-width: 70px;
} */

/* mat-select {
  min-width: 120px;
} */

/* .row mat-form-field, .row mat-select {
  padding: 0 2px;
  padding-top: 16px;
} */

.niveau {
  white-space: nowrap;
  padding-left: 8px;
}
