<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Valeur</th>
      <th>Coût</th>
    </tr>
  </thead>
  <tbody>
    @for (caracterisque of caracterisques; track caracterisque) {
      <tr>
        <td>{{caracterisque.name}}</td>
        <td class="valeur">
          <mat-slider
            [max]="3"
            [min]="-3"
            [step]="1"
            [discrete]="true"
            [showTickMarks]="true">
          <input matSliderThumb [(ngModel)]="caracterisque.valeur" #slider>
        </mat-slider>
          <span>{{caracterisque.valeur}}</span>
        </td>
        <td class="cout"><span>{{caracterisque.cout}}</span></td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>{{ sumField(caracterisques, "valeur") }}</th>
      <th>{{ sumField(caracterisques, "cout") }}</th>
    </tr>
  </tfoot>
</table>
