.full-width {
  width: 100%;
}

section {
  margin: 8px;
}

md-select {
  margin-top: 16px;
}

md-radio-button {
  margin-left: 8px;
}

.md-red {
  color: red;
}

.md-red-lite {
  color: #fd7676;
}

.md-green {
  color: green;
}

.md-green-lite {
  color: rgba(31, 216, 31, 0.83);;
}
