<section>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nom du personnage</mat-label>
    <input matInput placeholder="Nom du personnage" [(ngModel)]="personnage.name"/>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Concept du personnage</mat-label>
    <textarea matInput placeholder="Concept du personnage" [(ngModel)]="personnage.concept"></textarea>
  </mat-form-field>
</section>

<section>
  <label id="type-radio-group-label">Type de personnage :</label>
  <mat-radio-group name="type" aria-labelledby="type-radio-group-label" [(ngModel)]="typeModel">
    @for (type of types.liste; track type) {
      <mat-radio-button [value]="type">{{type}}</mat-radio-button>
    }
  </mat-radio-group>
</section>

@if (personnage.type == types.names.Mage) {
<section>
  <select-pattern-specifiable label="Maison" subLabel="Avantage" [liste]="maisons" [(selected)]="personnage.maison"></select-pattern-specifiable>
</section>
}

<section>
  <h3>Vos vertus et vis</h3>
  <span>{{naturesMsg}}</span>
  <mat-chip-set>
    @for (nature of personnage.natures; track nature) {
      <mat-chip [color]="natureColor(nature)" (click)="deleteNature(nature)">{{nature}}</mat-chip>
    }
  </mat-chip-set>
  <div class="row full-width">
    <select-pattern-specifiable label="Ajouter une vertus ou un vis" [liste]="natures" [(selected)]="natureSelected" class="full-width"></select-pattern-specifiable>
    <button mat-raised-button (click)="addNature(natureSelected!)">Ajouter</button>
  </div>
</section>

<section>
  <h3>Caractéristiques</h3>
  <caracteristiques [caracterisques]="personnage.caracterisques"></caracteristiques>
</section>

<section>
  <h3>Compétences</h3>
  <competence-xp-row
    [competences]="personnage.competences"
    [etapes]="$any(['Gratuit', 'Petite enfance', 'Vie postérieure', 'Apprentissage', 'Après'])"
  ></competence-xp-row>

  <div class="row">
    <select-pattern-specifiable label="Ajouter une compétence" [liste]="competences" [(selected)]="competenceSelected" class="full-width"></select-pattern-specifiable>
    <button mat-raised-button (click)="addCompetence(competenceSelected!)">Ajouter</button>
  </div>
</section>

@if (personnage.type == types.names.Mage) {
  <section>
    <h3>Ars</h3>
    <competence-xp-row
      [competences]="personnage.arts"
      [etapes]="$any(['Apprentissage', 'Après'])"
    ></competence-xp-row>
  </section>
}

@if (personnage.type == types.names.Mage) {
  <section>
    <h3>Sorts</h3>
    @for (sort of personnage.sorts; track sort) {
      <div> {{sort.niveau}} - {{sort.name}} - {{sort.technique}} {{sort.forme}} - {{sort.portee}}, {{sort.duree}}, {{sort.cible}}</div>
    }
    <build-sort [(sort)]="sort"></build-sort>
    <button class="full-width" mat-raised-button (click)="addSort(sort!)">Ajouter</button>
  </section>
}

<section>
  <h3>Notes</h3>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Notes" [(ngModel)]="personnage.notes" rows="10"></textarea>
  </mat-form-field>
</section>

<button class="full-width" mat-raised-button (click)="save()">Sauvegarder</button>
<button class="full-width" mat-raised-button (click)="charger()">Charger</button>
<button class="full-width" mat-raised-button (click)="export()">Exporter</button>
<input class="hide" id="input-file-id" type="file" (change)="importer($event)" #file/>
<button class="full-width" mat-raised-button (click)="file.click()">Importer</button>
