<md-select placeholder="Choisissez un élément" [(ngModel)]="firstLvl">
  <md-option
    *ngFor="let elem of liste"
    [value]="elem"
  >
    {{ elem }}
  </md-option>
</md-select>
<span *ngIf="showSpecifySelect" >
  <span *ngFor="let speciality of specialityLvlListe; let i = index">
    <select-pattern-specifiable
      *ngIf="speciality"
      [liste]="speciality"
      placeholder="Spécilité"
      [(selected)]="specialityLvl[i]"
    ></select-pattern-specifiable>
    <md-input-container *ngIf="!speciality">
      <input mdInput placeholder="Spécilité" [(ngModel)]="specialityLvl[i]"/>
    </md-input-container>
  </span>
</span>
