<mat-select placeholder="Choisissez un élément" [(ngModel)]="firstLvl">
  @for (elem of liste; track elem) {
    <mat-option
      [value]="elem"
      >
      {{ elem }}
    </mat-option>
  }
</mat-select>
@if (showSpecifySelect) {
  <span >
    @for (speciality of specialityLvlListe; track speciality; let i = $index) {
      <span>
        @if (speciality) {
          <select-pattern-specifiable
            [liste]="speciality"
            placeholder="Spécilité"
            [(selected)]="specialityLvl![i]"
          ></select-pattern-specifiable>
        }
        @if (!speciality) {
          <mat-form-field>
            <input matInput placeholder="Spécilité" [(ngModel)]="specialityLvl![i]"/>
          </mat-form-field>
        }
      </span>
    }
  </span>
}
