/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

build-sort .mat-input-underline {
  margin-top: 5px;
}

.full-width {
  width: 100%;
}

section {
  margin: 8px;
}

// mat-select {
//   margin-top: 16px;
// }

mat-radio-button {
  margin-left: 8px;
}

.mat-red {
  color: red;
}

.mat-red-lite {
  color: #fd7676;
}

.mat-green {
  color: green;
}

.mat-green-lite {
  color: rgba(31, 216, 31, 0.83);;
}

.hide {
  display: none;
}

.row {
  display: flex;
  align-items: baseline;
}

table .mat-mdc-form-field-infix {
  width: 75px;
}