<md-select placeholder="Votre maison"  [(ngModel)]="maison">
  <md-option *ngFor="let maison of maisons" [value]="maisonsValue[maison]">
    {{ maison }}
  </md-option>
</md-select>

<!-- Choix dans une liste -->
<select-pattern-specifiable *ngIf="maison && avantages[maison].length > 1" [liste]="avantages[maison]" [(selected)]="avantagesSelected"></select-pattern-specifiable>

<!-- Un seul choix -->
<span *ngIf="maison && avantages[maison].length === 1">{{avantages[maison][0].toString()}}</span>

<!-- Choix complexe -->
<!-- ExMiscellanea -->
<span *ngIf="maison && maison === maisonsValue['ExMiscellanea']">
  <select-pattern-specifiable [liste]="listVhm" [(selected)]="avantagesSelected"></select-pattern-specifiable>
  <select-pattern-specifiable [liste]="listVnhm" [(selected)]="exMajeur"></select-pattern-specifiable>
  <select-pattern-specifiable [liste]="listVihm" [(selected)]="exVis"></select-pattern-specifiable>
</span>
<!-- Jerbiton -->
<span *ngIf="maison && maison === maisonsValue['Jerbiton']">
  <select-pattern-specifiable [liste]="listVm" [(selected)]="avantagesSelected"></select-pattern-specifiable>
</span>
